/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 *{
   box-sizing: border-box;
 }

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

.align{
	text-align: left;
	font-size: 140%;
    line-height: 130%;
}
.landing .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}



p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.no-flicker {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.schedule {
  width: 80%;
}

.timeline-container {
  width: 90%;
  padding-left: 5%;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading::after {
  content: "";
  display: block;
  height: 2px;
  width: 80px;
  background-color: #f73e36;
  margin-left: 50%;
  margin-top: 15px;
  margin-bottom: 30px;
  transform: translateX(-50%);
}

.section-text{
  text-align:center;
  font-size:140%;
  line-height:130%;
}

.section-link{
  text-decoration: none;
  background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:30px 0;
}

.section-link i{
  font-size:150%;
}

.landing {
  height: 100vh;
}

.nav-wrapper.container {
  width: 90%;
}

.timeline {
  list-style: none;
  margin: 80px 70px 25px 90px;
  max-width: 800px;
  padding: 0;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-horizontal:after {
  border-top-width: 6px;
  border-left-width: 13px;
  border-color: transparent transparent transparent #3c3c3b;
  top: 15px;
  right: 0;
  bottom: auto;
  left: auto;
}

.timeline-horizontal .timeline-milestone {
  border-top: 2px solid #00637d;
  display: inline;
  float: left;
  margin: 20px 0 0 0;
  padding: 40px 0 0 0;
}

.timeline-horizontal .timeline-milestone:before {
  top: -17px;
  left: auto;
}

.timeline-horizontal .timeline-milestone.is-completed:after {
  top: -17px;
  left: 0;
}

.timeline-milestone {
  border-left: 4px solid #FF9800;
  margin: 0 0 0 20px;
  padding: 0 0 5px 40px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-milestone:before {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: -9px;
  width: 14px;
  height: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-last {
  border-left: 4px solid transparent;
}

.timeline-milestone.no-dot:before {
  width: 0px;
  height: 0px
}

.timeline-milestone:after {
  content: "10.00";
  position: absolute;
  left: -60px;
  top: -3px;
  font-size: 14px;
}

.one:after {
  content: "01 Jun 2018";
  position: absolute;
  left: -100px;
  top: -3px;
  font-size: 14px;
}

.two:after {
  content: "15 Jun 2018";
  position: absolute;
  left: -100px;
  top: -3px;
  font-size: 14px;
}

.three:after {
  content: "15 Jul 2018";
  position: absolute;
  left: -100px;
  top: -3px;
  font-size: 14px;
}

.four:after {
  content: "16 Jul 2018";
  position: absolute;
  left: -100px;
  top: -3px;
  font-size: 14px;
}

.timeline-milestone.no-dot:after {
  content: ""
}

.timeline-milestone.is-completed:before,
.timeline-milestone.is-current:before {
  background-color: #FF9800;
}

.timeline-action {
  padding: 16px 0px;
  position: relative;
  top: -22px;
  border-bottom: 1px solid #bfbfbf
}

.timeline-action.is-expandable {
  cursor: pointer;
}

.timeline-action.is-expandable .title {
  position: relative;
}

.timeline-action.is-expandable .title:focus {
  outline: 0;
}

.timeline-action.is-expandable .title:after {
  border: 6px solid #666;
  border-color: transparent transparent transparent #666;
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
}

.timeline-action.is-expandable .content {
  height: 0px;
}

.timeline-action.is-expandable.is-expanded .title:after {
  border-color: #666 transparent transparent transparent;
  top: 10px;
  right: 5px;
}

.timeline-action .title,
.timeline-action .content {
  word-wrap: break-word;
}

.timeline-action .title {
  font-size: 18px;
  margin: 0;
}

.timeline-action .date {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

.timeline-action .content {
  font-size: 14px;
  line-height: 1.5em;
  max-width: 90%;
  font-weight: 100;
}

.timeline-action .content span {
  display: inline-block;
  padding: 12px 0px;
  display: none;
}

.timeline-last .timeline-action {
  border: none;
}

.option-toggle {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: -30px;
  width: 30px;
  height: 30px;
  background: #f64662;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
}

.option-toggle i {
  top: 2px;
  position: relative;
}

.option-toggle:hover,
.option-toggle:focus,
.option-toggle:active {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.fa-heart {
  color: red;
  font-size: 20px;
}

@media (max-width:800px) {
  .schedule {
    width: 100%;
    padding-left: 5%;
  }

  
}

nav{
  background-color: transparent;
  box-shadow:none;
  width: 100%;
 
  margin:0;
}

nav.scroll-down{
  background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#logo-container{
  opacity: 0;
  -webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
}

.scroll-down #logo-container{
  opacity: 1;
  font-family: 'Oswald', sans-serif;
  -webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
  
}

nav.scroll-down ul li{
  margin:0 5px;
  font-size:120%;
  text-transform: uppercase;
  font-weight:bold;
  color:#CCC;
  text-decoration: none;
  cursor: pointer;
  color:black;
  -webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
}

nav ul a{
  text-decoration: none;
  cursor: pointer;
  color:white;
  -webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
  
}

.navbar-fixed{
  position: absolute;
  top:0;
  width:100%;
  height:60px;
  -webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
  
  
 
}

nav.scroll-up ul li{
  margin:0 5px;
  font-size:120%;
  text-transform: uppercase;
  font-weight:bold;
  -webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
}

nav.scroll-up ul li:hover{
 
  border-bottom:4px solid orange;
  -webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
}

#index-banner h5{
  font-family:'Oswald', sans-serif;
  font-weight: 400;
  font-size:350%;
  color:white;
  text-align: center;

-webkit-transition:all 200ms ease-in-out;
-moz-transition:all 200ms ease-in-out;
-o-transition:all 200ms ease-in-out;
}

#index-banner .row{
  margin-top:15%;
  
}

#index-banner .row::after {
  content: "";
  display: block;
  height: 2px;
  width: 200px;
  background-color: #f73e36;
  margin-left: 50%;
  margin-top: 50px;
  margin-bottom: 30px;
  transform: translateX(-50%);
}
#index-banner img{
  filter:brightness(50%);
}

.small{
  font-size:70%;
  text-transform: uppercase;
}


